@import 'variables';
@import 'typography';
@import 'music-player';

@font-face {
    font-family: 'Goudy';
    src: url('/assets/GoudyBookletter1911-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Goudy';
}

#canvas {
    background-image: url('/assets/images/gradient-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 200px;
    height: auto;
    font-size: 32px;
    margin: 0;
    background: -webkit-linear-gradient(right bottom, $pink, $purple, $blue );
    //background: -webkit-linear-gradient(right bottom, $pink, $blue, $purple );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    position: absolute;
    z-index: 50;
    top: 20px;
    right: 20px;
}

h1 + .card {
    margin: -100px auto 100px auto;
    box-shadow: 0px -4.664663791656494px 3.623039960861206px 0px rgba(40, 4, 92, 0.02),
        0px -12.897198677062988px 10.017241477966309px 0px rgba(40, 4, 92, 0.04),
        0px -31.051485061645508px 24.117658615112305px 0px rgba(40, 4, 92, 0.05),
        0px -103px 80px 0px rgba(40, 4, 92, 0.07);
}

.card {
    box-sizing: border-box;
    padding: 40px 170px;
    position: relative;
    background: white;
    width: 100%;
    z-index: 20;
    margin: 0 auto;

    .grid {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 40px;
    }
}

.title-grid {
    display: grid;
    grid-template-columns: 325px 1fr;
    column-gap: 80px;
    margin-bottom: 40px;

    .title {
        margin-top: 20px;
        text-align: right;
    }

    .description {
        font-size: 20px;
    }
}

.list {
    list-style-type: none;
    padding: 0;

    li {
        margin-right: 8px;
        margin-bottom: 8px;
        font-weight: 300;
        display: inline-block;
    }

    &.tech {
        li {
            font-size: 12px;
            color: $pink;
            font-family: 'Fira Code';
            text-transform: uppercase;
        }
    }
}

.bubble {
    position: relative;
    transition: 0.3s all;
    min-height: 300px;
    border-radius: 22px;
    color: white;
    background-color: black;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 18px 18px 30px 0px #D1D9E6,
        -18px -18px 30px 0px #FFF;
    outline: 2px solid transparent;

    @media screen and (min-width: $screen-xl) {
        min-height: 340px;
    }

    @media screen and (min-width: $screen-xxl) {
        min-height: 380px;
    }

    &:hover {
        transform: scale(1.05);
        z-index: 10;
    }
}

#cursor {
    position: fixed;
    pointer-events: none;
    transform: none;
    transform-origin: center center;
    transition: all 300ms ease-out;
    padding: 2px;
    z-index: 10;
    mix-blend-mode: plus-lighter;
}
.cursor-circle {
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 5s ease-out;
}
.cursor-circle.animate {
    stroke-dashoffset: 0;
    /* stroke: white; */
}

.collapsor {
    position: relative;
    display: block;
    margin-left: auto;
    font-family: 'Fira Code';
    border: 0;
    background: none;
    color: $blue;
}

footer {
    p {
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Fira Code';
    }
}