@import 'variables';
@import 'typography';
@import 'music-player';
@import 'nav';

@font-face {
    font-family: 'Goudy';
    src: url('/assets/GoudyBookletter1911-Regular.ttf');
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/FiraCode-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Goudy';
    overflow-x: hidden;
}

#canvas {
    background-image: url('/assets/images/gradient-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    min-height: 700px;
    width: 100vw;
    pointer-events: none;

    @media screen and (min-width: $screen-lg) {
        height: 800px;
        min-height: 800px;
    }

    @media screen and (min-width: $screen-xl) {
        pointer-events: all;
        height: 100vh;
        width: 100vw;
    }
}

.logo {
    transition: 0.3s all;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 40px;
    margin: 0;
    background: -webkit-linear-gradient(right bottom, $pink, $purple, $blue );
    //background: -webkit-linear-gradient(right bottom, $pink, $blue, $purple );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: $screen-md) {
        font-size: 32px;
        left: 40px;
        width: 200px;
        text-align: left;
    }

    @media screen and (min-width: $screen-xl) {
        left: 170px;
    }
}

.nav {
    display: none;

    @media screen and (min-width: $screen-md) {
        display: block;
        position: absolute;
        z-index: 50;
        top: 0;
        right: 0;
    }

    @media screen and (min-width: $screen-xl) {
        right: 120px;
    }
}

.mobile-nav {
    position: absolute;
    z-index: 50;
    top: 100px;
    width: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 0 10px;
        }
    }

    @media screen and (min-width: $screen-md) {
        display: none;
    }
}

.headline-bubble + .card {
    margin: -40px auto 40px auto;
    box-shadow: 0px -4.664663791656494px 3.623039960861206px 0px rgba(40, 4, 92, 0.02),
        0px -12.897198677062988px 10.017241477966309px 0px rgba(40, 4, 92, 0.04),
        0px -31.051485061645508px 24.117658615112305px 0px rgba(40, 4, 92, 0.05),
        0px -103px 80px 0px rgba(40, 4, 92, 0.07);
    flex-direction: column;
    border-top: none;

    @media screen and (min-width: $screen-md) {
        margin: -100px auto 0 auto;
    }
}

.card {
    border-top: 1px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    padding: 40px 20px;
    position: relative;
    background: white;
    width: 100%;
    z-index: 20;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;

    &:not(:first-of-type) {
        margin-top: 40px;
    }

    h3 {
        margin: 60px 0 10px 0;
        text-align: center;

        @media screen and (min-width: $screen-md) {
            text-align: left;
        }
    }

    .title-grid + div h3 {
        margin-top: 40px;
    }

    .ios-grid {
        display: flex;
        flex-direction: column-reverse;
        margin: 40px 0;

        @media screen and (min-width: $screen-md) {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            margin: 80px 0;

            h3,
            p {
                text-align: center;
            }

            h3 {
                margin: 0 40px 10px 40px;
            }

            p {
                margin: 0 40px 40px 40px;
            }
        }

        .coming-soon {
            display: none;

            @media screen and (min-width: $screen-md) {
                display: block;
            }

            @media screen and (min-width: $screen-xl) {
                max-width: 500px;
                margin: 0 auto;
            }
        }
    }

    @media screen and (min-width: $screen-md) {
        flex-direction: column;
    }

    @media screen and (min-width: $screen-xl) {
        padding: 40px 170px;
    }

    &.purple {
        flex-direction: column;
        background: linear-gradient(55deg, $orange, $pink, $purple, $blue, $green);
        color: white;
    }
}

.container {
    @media screen and (min-width: $screen-xl) {
        max-width: 1100px;
        margin: 0 auto;
    }
}

.title-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 20px;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: $screen-md) {
        grid-template-columns: auto 1fr;
    }

    @media screen and (min-width: $screen-xl) {
        max-width: 1100px;
        margin: 0 auto 20px auto;
    }

    .title {
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $screen-md) {
            margin-top: 20px;
            text-align: right;
        }
    }

    .description {
        font-size: 20px;

        @media screen and (min-width: $screen-md) {
            text-align: left;
        }

        p {
            margin-top: 0;

            @media screen and (min-width: $screen-md) {
                margin-top: 20px;
            }
        }
    }
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: $screen-md) {
        justify-content: flex-end;
    }

    li {
        margin-right: 8px;
        margin-bottom: 8px;
        font-weight: 300;
        display: inline-block;
        font-size: 14px;
        color: rgba(black, 0.5);

        @media screen and (min-width: $screen-md) {
            font-size: 12px;
        }
    }

    &.tech {
        li {
            font-family: 'Fira Code';
            text-transform: uppercase;
            font-size: 14px;

            @media screen and (min-width: $screen-md) {
                font-size: 12px;
            }
        }
    }
    
    &.design {
        li {
            font-size: 16px;

            @media screen and (min-width: $screen-md) {
                font-size: 14px;
            }
        }
    }
}

.bubble {
    position: relative;
    transition: 0.3s all;
    min-height: auto;
    border-radius: 22px;
    color: white;
    background-color: black;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 18px 18px 30px 0px #D1D9E6,
        -18px -18px 30px 0px #FFF;
    outline: 2px solid transparent;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .wwc-gif {
        border-radius: 4px;
        position: absolute;
        z-index: 2;
        width: 24.5%;
        bottom: 4.4%;
        right: 4.4%;
    }
}

.collapsor {
    position: relative;
    display: block;
    margin-left: auto;
    font-family: 'Fira Code';
    border: 0;
    background: none;
    color: $blue;
    font-size: 16px;

    @media screen and (min-width: $screen-md) {
        font-size: 14px;
    }
}

.shimmer-button {
    border: 0;
    background: none;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;

    .social-icon {
        transition: 0.3s;
        position: absolute;
        left: 0;
        top: 0;
    }

    svg {
        transition: 0.3s all;
        height: 36px;
        width: 36px; 
    }

    &:first-of-type {
        .social-icon {
            &:first-child {
                svg {
                    fill: url(#MyGradient);
                    opacity: 1;
                }
            }
            &:last-child {
                svg {
                    fill: url(#MyGradient2);
                    opacity: 0;
                }
            }
        }  
    }

    &:last-of-type {
        .social-icon {
            &:first-child {
                svg {
                    fill: url(#MyGradient3);
                    opacity: 1;
                }
            }
            &:last-child {
                svg {
                    fill: url(#MyGradient4);
                    opacity: 0;
                }
            }
        }  
    }

    &:hover {
        .social-icon {
            transform: scale(1.1);
        }
        .social-icon:first-child svg {
            opacity: 0;
        }
        .social-icon:last-child svg {
            opacity: 1;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;

    p {
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Fira Code';
        text-align: center;
    }

    @media screen and (min-width: $screen-md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        p {
            text-align: left;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8px;
        background: linear-gradient(to right, $green, $blue, $purple, $pink, $orange);
    }
}