h1 {
    font-size: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(right bottom, $pink, $orange );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
    font-weight: 500;

    @media screen and (min-width: $screen-md) {
        font-size: 48px;
        line-height: 48px;
    }
}

h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0;
    display: inline-block;
    background: -webkit-linear-gradient(right bottom, $pink, $orange );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
}

h2, h3 {
    margin-top: 0px;
    font-weight: 500;
}

h3 {
    position: relative;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 16px;
    z-index: 20;
}

h4 {
    font-size: 22px;
}

a {
    color: $blue;
    transition: 0.3s all;

    &:hover {
        color: $purple;

        .diacritic::after {
            background-color: $purple
        }
    }

    .diacritic::after {
        background-color: $blue;
    }
}

hr {
    border-top: 1px solid rgba(black, 0.1);
    border-bottom: 0;
    margin: 20px 0;
}

.headline-bubble {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    bottom: 20px;
    text-align: center;
    z-index: 1;
    // background: rgba(white, 0.5);
    // border-radius: 24px;
    // padding: 20px;

    @media screen and (min-width: $screen-md) {
        right: 125px;
        left: auto;
        top: 340px;
        bottom: auto;
        max-width: 650px;
        background: transparent;
        text-align: right;
    }
}

.headline {
    margin: 0;
}

.pre-title {
    font-family: 'Fira Code';
}

.diacritic {
    position: relative;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &::after {
        transition: 0.3s all;
        content: '';
        position: absolute;
        top: 33%;
        left: 0;
        width: 80%; 
        height: 1px;
        background-color: black;
    }

    &.white::after {
        background-color: white;
    }

    &.orange::after {
        background-color: $orange;
    }
}

.pre-title {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    color: white;
    border-radius: 24px;
    background-color: $purple;
}

.project-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    color: black;
    max-width: 80%;
}