h1 {
    font-size: 32px;
    line-height: 32px;
    color: white;
    text-shadow: 0px 4px 20px rgba(31, 0, 83, 0.5),
        0px 1px 4px rgba(52, 164, 232, 1),
        0px 3.1525516510009766px 8.873617172241211px rgba(127, 71, 221, 1),
        0px 9.052370071411133px 15px rgba(248, 87, 166, 1);
    padding: 10px 0;
    font-weight: 500;

    @media screen and (min-width: $screen-md) {
        font-size: 40px;
        line-height: 40px;
        text-shadow: none;
        background: -webkit-linear-gradient(right bottom, $pink, $orange );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media screen and (min-width: $screen-xl) {
        font-size: 48px;
        line-height: 48px;
    }
}

h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0;
    display: inline-block;
    background: -webkit-linear-gradient(right bottom, $pink, $orange );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
}

h2, h3 {
    margin-top: 0px;
    font-weight: 500;
}

h3 {
    position: relative;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 16px;
    z-index: 20;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 20px;
    text-align: center;

    @media screen and (min-width: $screen-md) {
        text-align: left;
    }
}

a {
    color: $blue;
    transition: 0.3s all;

    &:hover {
        color: $purple;

        .diacritic::after {
            background-color: $purple
        }
    }

    .diacritic::after {
        background-color: $blue;
    }
}

strong {
    color: $orange;
}

hr {
    border-top: 1px solid rgba($blue, 0.25);
    border-style: dashed;
    border-bottom: 0;
    margin: 20px 0;
}

.headline-bubble {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    bottom: 0;
    text-align: center;
    z-index: 1;
    top: 480px;
    
    .shimmer-button {
        display: none;
    }

    @media screen and (min-width: $screen-md) {
        right: 60px;
        left: auto;
        top: 250px;
        bottom: auto;
        max-width: 400px;
        background: transparent;
        text-align: right;

        .shimmer-button {
            display: inline-block;
        }
    }

    @media screen and (min-width: $screen-lg) {
        top: 300px;
        max-width: 500px;
    }

    @media screen and (min-width: $screen-xl) {
        top: 340px;
        max-width: 650px;
    }
}

.headline {
    margin: 0 0 24px 0;
}

.diacritic {
    position: relative;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &::after {
        transition: 0.3s all;
        content: '';
        position: absolute;
        top: 33%;
        left: 0;
        width: 80%; 
        height: 1px;
        background-color: black;
    }

    &.white::after {
        background-color: white;
    }

    &.orange::after {
        background-color: $orange;
    }
}

.pre-title {
    font-family: 'Fira Code';
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    color: white;
    border-radius: 24px;
    background-color: $purple;
    margin: 0 auto;

    @media screen and (min-width: $screen-md) {
        margin: 0 0 0 auto;
    }
}

.project-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    color: black;
    max-width: 80%;
}