// Colors
$pink: #F857A6;
$orange: #FF6900;
$purple: #7F47DD;
$blue: #34A4E8;
$green: #1FC073;
$yellow: #FFF200;

// Breakpoints
$screen-xs: 400px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1450px;