@if (recentTrack && recentTrack['@attr']?.nowplaying === 'true') {
  <div class="now-playing">
    <div class="record-player">
      <div class="record spin">
        <div class="middle"></div>
        <div class="inner"></div>
        <img [src]="recentTrack.image[2]['#text']" alt=""/>
      </div>
      <img class="arm" src="/assets/images/record_arm.svg" alt=""/>
    </div>
    <div>
      <span class="pre-title">NOW PLAYING</span>
      <h3>♪ {{ recentTrack.name }}</h3>
      <i>{{ recentTrack.artist['#text'] }}</i>
      <p class="attribute">Live Spotify data via the <a href="https://www.last.fm/api" target="_blank">LastFM API</a></p>
    </div>
  </div>
}
@if (recentTrack && !recentTrack['@attr']) {
  <div class="last-played">
    <div class="record-player">
      <div class="record">
        <div class="middle"></div>
        <div class="inner"></div>
        <img [src]="recentTrack.image[2]['#text']" alt=""/>
      </div>
      <img class="arm put-away" src="/assets/images/record_arm.svg" alt=""/>
    </div>
    <div>
      <span class="pre-title">LAST PLAYED</span>
      <h3>{{ recentTrack.name }}</h3>
      <i>{{ recentTrack.artist['#text'] }}</i>
      <div>
        <span class="label">
          {{ recentTrack.date['#text'] | date:'MMM d, h:mm a':'UTC-10' }}
        </span>
      </div>
      <p class="attribute">Spotify data via the <a href="https://www.last.fm/api" target="_blank">LastFM API</a></p>
    </div>
  </div>
}