<nav class="desktop-nav">
    <canvas #navBackground id="navBackground" width="380" height="120"></canvas>
    <ul>
        <!-- <li>
            <a class="nav-link" (mouseenter)="linkHover(1, $event)" (mouseleave)="linkEndHover(1, $event)" href="/work">WORK</a>
        </li> -->
        <li>
            <a class="nav-link" (mouseenter)="linkHover(1, $event)" (mouseleave)="linkEndHover(1, $event)" href="/resume">RÉSUMÉ</a>
        </li>
        <li>
            <a class="nav-link" (mouseenter)="linkHover(2, $event)"(mouseleave)="linkEndHover(2, $event)" target="_blank" href="mailto:hey@renae.dev">CONTACT</a>
        </li>
    </ul>
</nav>