<div *ngIf="!isLoaded" style="z-index: 100; position: absolute; top: 0; left: 0; height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: center; background-color: white;">
    <img width="100" height="100" src="/assets/loading-r.gif" />
</div>
<canvas #canvas id="canvas"></canvas>
<main [hidden]="!isLoaded">
    <div class="logo">
        Renae Ruschill
    </div>
    <app-nav-menu *ngIf="isLoaded" class="nav"></app-nav-menu>
    <nav class="mobile-nav">
        <ul>
            <li>
                <a class="nav-link" href="/resume">RÉSUMÉ</a>
            </li>
            <li>
                <a class="nav-link" target="_blank" href="mailto:hey@renae.dev">CONTACT</a>
            </li>
            <li>
                <svg-icon (click)="goToGithub()" src="/assets/images/icons/gh.svg" class="social-icon"></svg-icon>
            </li>
            <li>
                <svg-icon (click)="goToLinkedIn()" src="/assets/images/icons/li.svg" class="social-icon"></svg-icon>
            </li>
        </ul>
    </nav>
    <div class="headline-bubble">
        <button class="shimmer-button" (click)="goToGithub()">
            <svg-icon src="/assets/images/icons/gh.svg" class="social-icon"></svg-icon>
            <svg-icon src="/assets/images/icons/gh.svg" class="social-icon"></svg-icon>
        </button>
        <button class="shimmer-button" (click)="goToLinkedIn()">
            <svg-icon src="/assets/images/icons/li.svg" class="social-icon"></svg-icon>
            <svg-icon src="/assets/images/icons/li.svg" class="social-icon"></svg-icon>
        </button>
        <h1 class="headline">
            Traversing the strange and wonderful borderlands between design and engineering since 2016.
        </h1>
    </div>
    <section class="card">
        <div class="title-grid">
            <div class="title">
                <span class="pre-title">WEARABLE SAFETY TECH</span>
                <h2>Lead Product Designer</h2>
            </div>
            <div class="description">
                <p>
                    As Lead Product Designer for <a href="https://makusafe.com" target="_blank">M<span class="diacritic">a</span>kuSafe</a>, I design software for a unique problem space: hazard detection in industrial workplaces.
                </p>
                <p>M<span class="diacritic">a</span>kuSafe provides an innovative hardware ecosystem consisting of base station kiosks, wearable devices, and of course—M<span class="diacritic">a</span>kuSmart, the supporting cloud data & analytics platform.</p>
                <div [@collapse]="!makuExpand ? true : false" style="overflow: hidden;">
                    <p style="margin-top: 0;">Taking Certified Occupational Safety Specialist (COSS) training allowed me to gain new personal understanding of the concerns of a safety professional. This training not only fundamentally influenced my design perspective, but also supported me to speak knowledgeably while consulting our primary users: industrial safety professionals.</p>
                    <p>My work has included several large projects such as a major 2.0 redesign, design system implementation, new feature development, feature redesigns, mobile app design, reporting, data visualization, brand materials, and more.</p>
                    <p style="margin-bottom: 0;">I actively participate as a full stack designer / product engineer: defining technical requirements and leading front-end development on our software team; seeing every project through from conception to completion to revision and beyond.</p>
                </div>
                <button class="collapsor" (click)="toggleMakuCollapse()">{{ makuExpand ? '- Less' : '+ More' }}</button>
                <hr/>
                <ul class="list design">
                    <li>Figma</li>
                    <li>Illustrator</li>
                    <li>Photoshop</li>
                    <li>After Effects</li>
                </ul>
                <ul class="list tech">
                    <li>HTML</li>
                    <li>CSS/SCSS</li>
                    <li>Typescript</li>
                    <li>Angular</li>
                    <li>Chart.JS</li>
                    <li>SwiftUI</li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Feature Development: Motion Explorer</h3>
            <div class="bubble">
                <img src="/assets/images/motion-explorer/motion_explorer_cover.jpg" alt="Images of sketches leading up to the motion explorer.." />
            </div>
            <div class="grid">
                <div>
                    <h3>M<span class="diacritic">a</span>kuSmart Cloud Software</h3>
                    <div class="bubble">
                        <img src="/assets/images/makusmart/makusmart_cover.jpg" alt="Images of the MakuSmart Cloud Platform." />
                    </div>
                </div>
                <div>
                    <h3>Frontline Worker iOS App</h3>
                    <div class="bubble">
                        <img src="/assets/images/remote-worker/mobile_cover.jpg" alt="Images of the Remote Worker mobile app for iOS." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <div class="title-grid">
            <div class="title">
                <span class="pre-title">UBER, BUT FOR YOUR STYLIST</span>
                <h2>Brand & Product Designer</h2>
            </div>
            <div class="description">
                <p>
                    Born out of the pandemic, Updo is a Minneapolis-based startup that provides a platform connecting in-home salon service providers with local clientele. I executed the logotype, brand direction, teaser website, social media, and initial product design for this fashion-forward startup. The brand won Best in Category for Identity Mark at the 2021 Art Director’s Association of Iowa Awards and received an additional Award of Excellence for the brand system.
                </p>
                <hr/>   
                <ul class="list design">
                    <li>Figma</li>
                    <li>Illustrator</li>
                    <li>Cinema4D</li>
                </ul>
                <ul class="list tech">
                    <li>HTML</li>
                    <li>CSS/SCSS</li>
                    <li>JavaScript</li>
                </ul>      
            </div>
        </div>
        <div class="bubble">
            <img src="/assets/images/updo_cover.jpg" alt="Updo Brand System Imagery" />
        </div>
    </section>
    <section class="card">
        <div class="title-grid">
            <div class="title">
                <span class="pre-title">BESPOKE SOFTWARE CONSULTANCY</span>
                <h2>Website & Brand Collateral</h2>
            </div>
            <div class="description">
                <p>One of my first projects after I joined We Write Code was a brand overhaul for the Des Moines-based digital software agency, beginning with a new website. I developed the website strategy & content alongside leadership, ultimately designing & implementing the new site as a custom WordPress theme. The website won Gold in the Online/Interactive category of the 2020 American Advertising Awards of Iowa. Also shown: brand collateral pieces.</p>
                <hr/>   
                <ul class="list design">
                    <li>Figma</li>
                    <li>Illustrator</li>
                    <li>Cinema4D</li>
                </ul>
                <ul class="list tech">
                    <li>HTML</li>
                    <li>CSS/SCSS</li>
                    <li>JavaScript</li>
                    <li>WordPress (Bedrock, Sage)</li>
                    <li>THREE.js</li>
                    <li>Anime.js</li>
                </ul>    
            </div>
        </div>
        <div class="bubble">
            <img src="/assets/images/wwc_cover.jpg" alt="We Write Code Brand Collateral Imagery" />
            <img src="/assets/images/wwc_site.gif" alt="We Write Code Website Gif" class="wwc-gif" />
        </div>
    </section>
    <section class="card">
        <div class="title-grid">
            <div class="title">
                <span class="pre-title">ROLL FOR INITIATIVE</span>
                <h2>Kickstarter & Product Design</h2>
            </div>
            <div class="description">
                <p>A successful Kickstarter project involving a redesign of a Dungeons and Dragons (DnD) platform called GMBinder. The site features “homebrew” content: material written by users from all over the world, intended to be used as the setting and story for tabletop role playing games—the most popular of which being DnD. These documents are authored using Markdown and processed on-the-fly into beautifully formatted documents. I not only revamped the UI, but created custom illustrations and textures for a new document theme and other promotional Kickstarter materials.</p>
                <hr/>   
                <ul class="list design">
                    <li>Figma</li>
                    <li>Photoshop</li>
                    <li>Procreate</li>
                </ul>
                <ul class="list tech">
                    <li>HTML</li>
                    <li>CSS/SCSS</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                </ul>  
            </div>
        </div>
        <div class="bubble">
            <img src="/assets/images/gmb_cover.jpg" alt="GM Binder Kickstarter Imagery" />
        </div>
    </section>
    <section class="card purple">
        <app-music-player>
        </app-music-player>
        <footer>
            <p>*^•^/\^•^* Like the Sagrada Familia, this site construction never ends</p>
            <p>Thanks for stopping, come again soon 🌞</p>
        </footer>
    </section>
</main>